
<div class ="picheader2">
  <h2> Adventure Awaits.</h2>
</div>

<div class ="wrap">

<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
    <div class="input-group-btn">
      <!--<span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span> -->
      <input type="text" class="form-control" placeholder="Search...">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
  <div class = "grid row">





  <% @pins.each do |pin| %>
    <div class = "grid-item col-md-4 col-sm-3 col-xs-12">

      <div class = "group">


      <div class ="pinimage">
        <div class ="yellow2">
           <h4 class ="pindescription">  <%= pin.title %></h4>
             <%= link_to image_tag(pin.user.avatar.url(:thumb), :class => "img-circle size" ), user_path(pin.user.username)  %>

         </div>
        <%= link_to image_tag(pin.pin_image.url(:medium)), pin %>

      </div>


      </div>

    </div>
  <% end %>
  </div>

<div class ="row">
<div class = "col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3">

</div>
</div>
</div>
