

<div class="picheader">
  <h1>Find and enjoy the view</h1>
</div>

<div class="pink">
  <h3>Find the....</h3>
  <div class = "content">
      <p>Welcome to The View. Your online portal to find breathe taking views in your area and around the world. </p>
  </div>
</div>

<div class ="white">
  <h3>Search.Share.Then Experience</h3>
  <div class ="boxes">
    <div class= "box">
      <div class ="yellow"></div>
    </div>
    <div class= "box">
      <div class ="yellow"></div>
    </div>
    <div class= "box">
      <div class ="yellow"></div>
    </div>
  </div>
</div>

<div class ="lightblue">
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Start Exploring</a></p>
</div>
