

<div class="picheader">
  <h1>Find and enjoy the view</h1>
</div>

<div class="pink">
  <div class ="red">
    <div class ="insidered">
        <div class = "content">
          <h3>Find your next lookout.</h3>
          <p>Welcome to The View. Your online portal to find the exact spot of breathe taking views in your area and around the world. </p>
    </div>
</div>
</div>
</div>

<div class ="white">
  <h2>Search. Share. Then Experience</h2>
  <div class ="boxes">
    <div class= "box1">
      <div class ="yellow">
<p class = "pindescription2">New York, NY </p>
      </div>

    </div>
    <div class= "box2">
      <div class ="yellow">

<p class = "pindescription2"> Honolulu, HI </p>
      </div>

    </div>
    <div class= "box3">
      <div class ="yellow">

<p class = "pindescription2">Reno, NV </p>
      </div>

    </div>
  </div>
</div>

<div class ="lightblue">

  <p>Start Exploring</p>
</div>

<div class ="darkblue">
</div>
