/*.newpin {
  background-color:red;
}

.block {
  display: block;
}

*/

.grid-item {
margin-top: 20px;

 }

 .links {
   display: block;
   text-align: center;
 }

h4 {
  text-align: center;
}
.red {
  background-color: red;
}

.new {
  margin-top: 50px;
}
