/*.newpin {
  background-color:red;
}

.block {
  display: block;
}

*/


* {
  margin: 0px;
  padding: 0px;
}
.grid-item {
margin-top: 20px;

 }

 .links {
   display: block;
   text-align: center;
 }

h4 {
  text-align: center;
}
.red {
  background-color: red;
}

.new {
  margin-top: 50px;
}

.size {
  width: 40px;
}


//***Home Page***//

.picheader {

  text-align: center;
  padding: 150px;
  width: 100%;
  background-color: #938083;
}


.pink {
  text-align: center;
  padding: 100px;
  width: 100%;
  background-color: #e99176;
}

.pink p{
font-size: 20px;
}

.content {
  width: 60%;
  margin: auto;
}

.white{

  text-align: center;
  padding: 100px;
  width: 100%;
  color: #30788b;

}

.lightblue {

  padding: 100px;
  width: 100%;
  background-color: #89c4d4;

}

.boxes {
  margin-top: 5%;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
}

.box {

height: 250px;
width: 250px;
margin: 0px 25px 20px 0px;
display: inline-block;;
background-color: red;
position: relative;
}

.yellow {
position: absolute;
bottom: 0px;
height: 40px;
width: 250px;
background-color: #dbd77c;

}



//***********************//
